@font-face {
  font-family:mono ;
  src: url(../fonts/GeistMonoVF.woff);
}
@font-face {
  font-family:gesi ;
  src: url(../fonts/GeistVF.woff);
}
@font-face {
  font-family: front;
  src: url(../fonts/SpicyRice-Regular.ttf);
}
@font-face {
font-family:fancy ;
src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}


.header{
    width: 100%;
    height: 110px;
    background-color: darkblue;
    /* position: absolute; */
    /* margin-left: 420px; */
  }
  .links{
  color: whitesmoke;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 30px;
  font-family: fancy;
  font-size: 30px;
  font-weight: bolder;
  }
  .navp{
    position: relative;
    padding: 0 20px;
    color: rgb(201, 200, 200);
    font-size: 30px;
    font-family: fancy;
    text-decoration: none;
    font-weight: bolder;
    /* transition: 3s; */
  }
  .navp::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -20px;
    transition: 0.3s;
    
  }
  .navp:hover::after{
    width: 100%;
  }
  .navp:hover{
    color: whitesmoke;
  }
  .main{
    width: 100%;
    height: 915px;
  }
  .prev{
    width: 100%;
    height: 400px;
    /* background-color: black; */
  }
.txt{
    font-size: 24px;
    font-family: mono;
    margin-top: 200px;
    margin-left: 20px;
  }
.lnk{
  font-family: cursive;
  border: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
  margin-top: 30px;
  margin-left: 200px;
  position:absolute;
}

.footer{
background-color: gray;
height: 100px;
width: 100%;
margin-top: 105px;
}
.icons{
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 70px; */
  word-spacing: 10px;
  padding-right: 15px;
}















/* 
.navlinksh{
  position: relative;
  }
  .navlinksh::after{
    content: "";
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -20px;
    transition: 0.3s;
    
  }
  .naylinksh:hover::after{
    width: 100%;
  }
  .navlinksh:hover{
    color: whitesmoke;
    transition: 0.2s;
  } */